@model NAPASTUDENT.Models.DTOs.MonHocDtos.LopMonHocDto

@{
    ViewBag.Title = "Quản lý lớp môn học";
}
<link href="@Url.Content("~/Content/SiteCss/MonHoc.css")" rel="stylesheet" type="text/css" />
<button type="button" class="btn btn-primary" id="chinhSuaLopMonHoc">Chỉnh sửa thông tin</button>
<h2 style="margin-bottom: 20px"><strong>Quản lý lớp môn học</strong></h2>
<hr />
<div id="thongTinLopMonHoc">
    <div class="row">
        <h3 class="col-lg-6 col-md-6 col-6">Lớp: <span id="tenLop"></span></h3>
        <h3 class="col-lg-6 col-md-6 col-6">Môn học: <span id="tenMonHoc"></span></h3>
        <h3 class="col-lg-6 col-md-6 col-6">Số tiết: <span id="soTiet"></span></h3>
        <h3 class="col-lg-6 col-md-6 col-6">Số học phần: <span id="soHocPhan"></span></h3>
        <h3 class="col-lg-6 col-md-6 col-6">Số cột điều kiện: <span id="haiDiemDk"></span></h3>
        <h3 class="col-lg-6 col-md-6 col-6">Loại môn: <span id="loaiMon"></span></h3>   
        <h3 class="col-lg-12 col-md-12 col-12">Học kì học: <span id="hocKi"></span></h3>
    </div>             
    <hr />
    <div class="row">
        <h3 class="col-lg-6 col-md-6 col-6">Ngày thi: <span id="ngayThi"></span></h3>
        <h3 class="col-lg-6 col-md-6 col-6">Địa điểm thi: <span id="diaDiemThi"></span></h3>
    </div>
</div>
<hr />
<div>
    <button type="button" class="btn btn-success" id="themLichHoc">Thêm lịch học</button>
    <h3 style="margin-bottom: 40px">Lịch học</h3>
    <table class="table table-striped table-bordered" id="lichHoc">
        <thead>
            <tr>
                <th>Thời gian học</th>
                <th>Ngày học</th>
                <th>Buổi học</th>
                <th>Tiết học</th>
                <th>Giáo viên dạy</th>
                <th>Phòng học</th>
                <th>Quản lý</th>
            </tr>
        </thead>
    </table>
</div>
<hr />
<div>
    <h3>Điểm thi</h3>
    <table class="table table-striped table-bordered" id="bangDiem" style="width: 100% !important">
        <thead>
            <tr id="cotDiem">
                <th>MSSV</th>
                <th>Họ</th>
                <th>Tên</th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="saveLopMonHocModal" tabindex="-1" role="dialog" aria-labelledby="saveLopMonHocModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Thay đổi đăng kí môn học cho lớp</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="tenLop-input" style="font-size: 30px; display: block">Lớp học</label>
                    <input id="tenLop-input" style="max-width:80%;" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="tenMonHoc-input" style="font-size: 30px; display: block">Môn học</label>
                    <input id="tenMonHoc-input" style="max-width:80%;" class="form-control" disabled>
                </div>
                <hr />
                <div class="form-group">
                    <label for="hocKi-input" style="font-size: 30px;">Học kì</label>
                    <select class="form-control" id="hocKi-input" style="max-width: 80%;" disabled>
                        <option value="1">Học kì 1 (năm 1)</option>
                        <option value="2">Học kì 2 (năm 1)</option>
                        <option value="3">Học kì 3 (năm 2)</option>
                        <option value="4">Học kì 4 (năm 2)</option>
                        <option value="5">Học kì 5 (năm 3)</option>
                        <option value="6">Học kì 6 (năm 3)</option>
                        <option value="7">Học kì 7 (năm 4)</option>
                        <option value="8">Học kì 8 (năm 4)</option>
                    </select>
                </div>
                <hr />
                <label for="ngay" style="font-size: 30px;">Ngày thi</label>
                <div class="form-group">
                    <label for="ngay">Ngày</label>
                    <input type="date" id="ngay" class="form-control">
                </div>
                <div class="form-group">
                    <label for="gio">Giờ</label>
                    <input type="time" id="gio" class="form-control">
                </div>
                <hr />
                <div class="form-group">
                    <label for="diaDiemThi-input" style="font-size: 30px;">Địa điểm thi</label>
                    <input value="" id="diaDiemThi-input" type="text" class="form-control" style="max-width: 80%;" maxlength="30" />
                </div>
                <strong style="font-size: 15px;">
                    Lưu ý: Sau khi đã tạo chỉ có thể chỉnh sửa ngày thi, địa điểm thi và lịch học.
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size: 20px">Đóng</button>
                <button type="button" class="btn btn-primary" id="saveLopMonHoc" style="font-size: 20px">Thay đổi</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="saveLichHocModal" tabindex="-1" role="dialog" aria-labelledby="saveLichHocModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Đăng kí lịch học cho lớp</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="ngayBatDau-input" style="font-size: 30px;">Thời gian học</label>
                <div class="form-group">
                    <label for="ngayBatDau-input">Ngày bắt đầu</label>
                    <input type="date" id="ngayBatDau-input" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ngayKetThuc-input">Ngày kết thúc</label>
                    <input type="date" id="ngayKetThuc-input" class="form-control">
                </div>
                <hr />
                <div class="form-group">
                    <label for="thu246-input" style="font-size: 30px;">Ngày học</label>
                    <select class="form-control" id="thu246-input" style="max-width: 80%;">
                        <option value="1">Thứ hai, tư, sáu</option>
                        <option value="0">Thứ ba, năm</option>
                    </select>
                </div>
                <hr />
                <div class="form-group">
                    <label for="buoiSang-input" style="font-size: 30px;">Buổi học</label>
                    <select class="form-control" id="buoiSang-input" style="max-width: 80%;">
                        <option value="1">Buổi sáng</option>
                        <option value="0">Buổi chiều</option>
                    </select>
                </div>
                <hr />
                <div class="form-group">
                    <label for="baTietDau-input" style="font-size: 30px;">Tiết học</label>
                    <select class="form-control" id="baTietDau-input" style="max-width: 80%;">
                        <option value="1">Tiết 1, 2, 3</option>
                        <option value="0">Tiết 4, 5</option>
                    </select>
                </div>
                <hr />
                <div class="form-group">
                    <label for="giaoVienDay-input" style="font-size: 30px;">Giáo viên dạy</label>
                    <input value="" id="giaoVienDay-input" type="text" class="form-control" style="max-width: 80%;" maxlength="30" />
                </div>
                <div class="form-group">
                    <label for="phongHoc-input" style="font-size: 30px;">Phòng học</label>
                    <input value="" id="phongHoc-input" type="text" class="form-control" style="max-width: 80%;" maxlength="30" />
                </div>
                <strong style="font-size: 15px;">
                    Lưu ý: Sau khi đã tạo chỉ có thể chỉnh sửa ngày thi, địa điểm thi và lịch học.
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size: 20px">Đóng</button>
                <button type="button" class="btn btn-primary" id="saveLichHoc" style="font-size: 20px">Thay đổi</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="xoaLichHocModal" tabindex="-1" role="dialog" aria-labelledby="xoaLichHocModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Xóa lịch học</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có muốn xóa lịch học này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size: 20px">Đóng</button>
                <button type="button" class="btn btn-danger" id="xoaLichHoc" style="font-size: 20px">Xóa</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/DataTable")
    <script>

        $(document).ready(function() {
            var dataSent = {lopId : @Model.LopId, monHocId: @Model.MonHocId }
            QuanLyLopMonHocController.initTrang(dataSent);
        });
    </script>
}
