/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Roboto";
body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    height: 75px;
    padding: 15px 10px;
    background: #6d7fcc;
    color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1030;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
    width: calc(100% - 80px);

}
.navbar.sidebar-actived {
    width: calc(100% - 210px);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.navbar-right {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 120px;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidebarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 210px;
    height: 100%;
    text-align: left;
    background: #6d7fcc;
    color: #fff;
    z-index: 999;
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /*  Side navbar small ------------------------ */
}
/*.sidebar Wrapper scrollbar*/
.sidebarWrapper::-webkit-scrollbar {
    width: 5px;
}
.sidebarWrapper::-webkit-scrollbar-track {   /* Track */
    background: #f1f1f1; 
}
.sidebarWrapper::-webkit-scrollbar-thumb {  /* Handle */
    background: #888; 
}
.sidebarWrapper::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555; 
}
/*Sidebar toggle*/
#sidebar-toggle {
    font-size: 30px;
    cursor: pointer;
}
/*Sidebar*/
#sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.sidebar-actived {
    min-width: 210px;
    max-width: 210px;
    text-align: left;
}
#sidebar .sidebar-header {
    padding: 17px;
    background: #6d7fcc;
}
#sidebar .sidebar-header h3 {
    display: none;
}
#sidebar.sidebar-actived .sidebar-header h3 {
    display: block;
}
#sidebar .sidebar-header strong {
    display: block;
    font-size: 1.8em;
}
#sidebar.sidebar-actived .sidebar-header strong {
    display: none;
}
#sidebar ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 1em;
    display: block;

}

a[data-toggle="collapse"] {
    position: relative;
}
#sidebar.sidebar-actived ul li a {
    padding: 10px;
    font-size: 1.1em;
    text-align: left;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul ul a {
    font-size: 0.9em !important;
    padding: 10px !important;
    background: #5c6baa;
}
#sidebar.sidebar-actived ul ul a {
    padding-left: 30px !important;
}
#sidebar ul ul a.active {
    color: #7386D5;
    background: #fff;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
#sidebar.sidebar-actived .dropdown-toggle::after {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}
@media (max-width: 1199px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: 0 !important;
    }
    .navbar {
        width: calc(100% - 80px);
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
        text-align: center;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 700px) {
    .sidebarWrapper {
        max-width: 100%;
    }
    #sidebar-toggle {
        top: 5px;
        position: absolute;
    }
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidebar.sidebar-actived {
        max-width: 100%;
        width: 500px;
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header {
        padding: 5px;
    }
    .navbar {
        width: 100%;
        height: 50px;
        font-size: 10px;
    }
    .navbar-right {
        right: 5px;
        top: 6px;
        width: 75px;
    }
    .navbar.sidebar-actived .searchBar {
        display: none;
    }
}