<div class="baiVietContainer">
    <h2 id="tenBaiViet-TrangBaiViet"></h2>
    <small id="ngayTaoBaoViet"></small>
    <div id="soLuoc-TrangBaiViet"></div>
    <div id="noiDungBaiViet"></div>
    <div>
        <h2><strong>Hoạt động liên quan</strong></h2>
        <div id="DanhSachHoatDong"></div>
    </div>
    <div id="DanhSachDonVi"></div>
</div>

