<div class="form-group">
    <label for="tenChuyenMuc" style="font-size: 30px;">Tên chuyên mục</label>
    <input value="" id="tenChuyenMuc" type="text" class="form-control" style="max-width: 80%;" maxlength="100" />
    <small id="tenChuyenMucLimit"></small>
</div>
<div class="form-group">
    <label for="moTa" style="font-size: 30px;">Mô tả</label>
    <input value="" id="moTa" type="text" class="form-control" style="max-width: 80%;" maxlength="100" />
    <small id="moTaLimit"></small>
</div>
<div class="form-group">
    <label for="selectAnhBiaButton" style="font-size: 30px;">Ảnh bìa</label>
    <button id="selectAnhBiaButton" class="btn btn-primary" style="    margin-bottom: 0.5rem; margin-left: 0.5rem">Chọn ảnh</button>
    <img src="/Content/HocVien.png" alt="" style="width: 300px; height: 200px; display: block" id="anhBia" />
</div>    
<div class="form-group">
    <label for="chuyenMucCha" style="font-size: 30px">Chuyên mục cha</label>
    <select id="chuyenMucCha" style="width:80%;" class="form-control"></select>
</div>